[Desktop Entry]
Name=Bait and Crypto
Comment=Educational security demonstration
Exec=AppRun
Icon=icon
Terminal=false
Type=Application
Categories=Utility;
